<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false" colors="true" bootstrap="vendor/autoload.php" convertDeprecationsToExceptions="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>Tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory>Client/</directory>
            <directory>Mapping/</directory>
            <directory>serializer/</directory>
        </whitelist>
    </filter>

    <coverage>
        <include>
            <directory>./</directory>
        </include>
        <exclude>
            <directory>./Resources</directory>
            <directory>./Tests</directory>
            <directory>./vendor</directory>
            <directory>./var</directory>
        </exclude>
    </coverage>
</phpunit>
